* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #34e40864;
    background-image: url(david.jpg);
}

.contenedor {
    margin: auto;
    width: 900px;
    margin-top: 30%;
    margin-left: 305;
    text-align: center;
}

.titulo {
    margin-bottom: 30px;
}

.opciones p {
    background: black;
    display: initial;
    padding: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
}

p.p1 {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 10%;
}

p.p1.hover {
    background: gray;
    cursor: pointer;
}

p.p2 {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 10%

}

p.p2:hover {
    background: gray;
    cursor: pointer;
}

#si {
    background: #515050;
    left: 420px;
    position: absolute;
    top: 122px;
    width: 550px;
    color: #ffffff;
    padding: 50px;
    display: none;
}



